In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('EPL_Set.csv')
df.head()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Season
0,E0,14/08/93,Arsenal,Coventry,0,3,A,NaN,NaN,NaN,1993-94
1,E0,14/08/93,Aston Villa,QPR,4,1,H,NaN,NaN,NaN,1993-94
2,E0,14/08/93,Chelsea,Blackburn,1,2,A,NaN,NaN,NaN,1993-94
3,E0,14/08/93,Liverpool,Sheffield Weds,2,0,H,NaN,NaN,NaN,1993-94
4,E0,14/08/93,Man City,Leeds,1,1,D,NaN,NaN,NaN,1993-94

In [3]:
df.columns

Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'Season'],
      dtype='object')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9664 entries, 0 to 9663
Data columns (total 11 columns):
Div         9664 non-null object
Date        9664 non-null object
HomeTeam    9664 non-null object
AwayTeam    9664 non-null object
FTHG        9664 non-null int64
FTAG        9664 non-null int64
FTR         9664 non-null object
HTHG        8740 non-null float64
HTAG        8740 non-null float64
HTR         8740 non-null object
Season      9664 non-null object
dtypes: float64(2), int64(2), object(7)
memory usage: 830.6+ KB

In [7]:
df['Season'].value_counts()

1994-95    462
1993-94    462
2014-15    380
1999-00    380
2015-16    380
2009-10    380
2004-05    380
2003-04    380
2010-11    380
2008-09    380
2012-13    380
2007-08    380
2013-14    380
2000-01    380
2011-12    380
2002-03    380
1995-96    380
1996-97    380
2017-18    380
2001-02    380
2005-06    380
1997-98    380
1998-99    380
2006-07    380
2016-17    380
Name: Season, dtype: int64

In [11]:
df[(df['HomeTeam'] == 'Liverpool') | (df['AwayTeam'] == 'Liverpool')]

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Season
3,E0,14/08/93,Liverpool,Sheffield Weds,2,0,H,NaN,NaN,NaN,1993-94
19,E0,18/08/93,QPR,Liverpool,1,3,A,NaN,NaN,NaN,1993-94
32,E0,22/08/93,Swindon,Liverpool,0,5,A,NaN,NaN,NaN,1993-94
39,E0,25/08/93,Liverpool,Tottenham,1,2,A,NaN,NaN,NaN,1993-94
48,E0,28/08/93,Liverpool,Leeds,2,0,H,NaN,NaN,NaN,1993-94
60,E0,1/9/1993,Coventry,Liverpool,1,0,H,NaN,NaN,NaN,1993-94
75,E0,12/9/1993,Liverpool,Blackburn,0,1,A,NaN,NaN,NaN,1993-94
79,E0,18/09/93,Everton,Liverpool,2,0,H,NaN,NaN,NaN,1993-94
90,E0,25/09/93,Chelsea,Liverpool,1,0,H,NaN,NaN,NaN,1993-94
101,E0,2/10/1993,Liverpool,Arsenal,0,0,D,NaN,NaN,NaN,1993-94
113,E0,16/10/93,Liverpool,Oldham,2,1,H,NaN,NaN,NaN,1993-94
124,E0,23/10/93,Man City,Liverpool,1,1,D,NaN,NaN,NaN,1993-94
136,E0,30/10/93,Liverpool,Southampton,4,2,H,NaN,NaN,NaN,1993-94
147,E0,6/11/1993,Liverpool,West Ham,2,0,H,NaN,NaN,NaN,1993-94
164,E0,21/11/93,Newcastle,Liverpool,3,0,H,NaN,NaN,NaN,1993-94
184,E0,28/11/93,Liverpool,Aston Villa,2,1,H,NaN,NaN,NaN,1993-94
192,E0,4/12/1993,Sheffield Weds,Liverpool,3,1,H,NaN,NaN,NaN,1993-94
201,E0,8/12/1993,Liverpool,QPR,3,2,H,NaN,NaN,NaN,1993-94
207,E0,11/12/1993,Liverpool,Swindon,2,2,D,NaN,NaN,NaN,1993-94
223,E0,18/12/93,Tottenham,Liverpool,3,3,D,NaN,NaN,NaN,1993-94
228,E0,26/12/93,Sheffield United,Liverpool,0,0,D,NaN,NaN,NaN,1993-94
237,E0,28/12/93,Liverpool,Wimbledon,1,1,D,NaN,NaN,NaN,1993-94
248,E0,1/1/1994,Ipswich,Liverpool,1,2,A,NaN,NaN,NaN,1993-94
262,E0,4/1/1994,Liverpool,Man United,3,3,D,NaN,NaN,NaN,1993-94
269,E0,15/01/94,Oldham,Liverpool,0,3,A,NaN,NaN,NaN,1993-94
279,E0,22/01/94,Liverpool,Man City,2,1,H,NaN,NaN,NaN,1993-94
290,E0,5/2/1994,Norwich,Liverpool,2,2,D,NaN,NaN,NaN,1993-94
304,E0,14/02/94,Southampton,Liverpool,4,2,H,NaN,NaN,NaN,1993-94
308,E0,19/02/94,Leeds,Liverpool,2,0,H,NaN,NaN,NaN,1993-94
315,E0,26/02/94,Liverpool,Coventry,1,0,H,NaN,NaN,NaN,1993-94
...,...,...,...,...,...,...,...,...,...,...,...
9373,E0,22/10/17,Tottenham,Liverpool,4,1,H,3.0,1.0,H,2017-18
9377,E0,28/10/17,Liverpool,Huddersfield,3,0,H,0.0,0.0,D,2017-18
9389,E0,4/11/2017,West Ham,Liverpool,1,4,A,0.0,2.0,A,2017-18
9399,E0,18/11/17,Liverpool,Southampton,3,0,H,2.0,0.0,H,2017-18
9406,E0,25/11/17,Liverpool,Chelsea,1,1,D,0.0,0.0,D,2017-18
9423,E0,29/11/17,Stoke,Liverpool,0,3,A,0.0,1.0,A,2017-18
9425,E0,2/12/2017,Brighton,Liverpool,1,5,A,0.0,2.0,A,2017-18
9441,E0,10/12/2017,Liverpool,Everton,1,1,D,1.0,0.0,H,2017-18
9447,E0,13/12/17,Liverpool,West Brom,0,0,D,0.0,0.0,D,2017-18
9461,E0,17/12/17,Bournemouth,Liverpool,0,4,A,0.0,3.0,A,2017-18
9464,E0,22/12/17,Arsenal,Liverpool,3,3,D,0.0,1.0,A,2017-18
9477,E0,26/12/17,Liverpool,Swansea,5,0,H,1.0,0.0,H,2017-18
9487,E0,30/12/17,Liverpool,Leicester,2,1,H,0.0,1.0,A,2017-18
9494,E0,1/1/2018,Burnley,Liverpool,1,2,A,0.0,0.0,D,2017-18
9512,E0,14/01/18,Liverpool,Man City,4,3,H,1.0,1.0,D,2017-18
9523,E0,22/01/18,Swansea,Liverpool,1,0,H,1.0,0.0,H,2017-18
9524,E0,30/01/18,Huddersfield,Liverpool,0,3,A,0.0,2.0,A,2017-18
9542,E0,4/2/2018,Liverpool,Tottenham,2,2,D,1.0,0.0,H,2017-18
9552,E0,11/2/2018,Southampton,Liverpool,0,2,A,0.0,2.0,A,2017-18
9558,E0,24/02/18,Liverpool,West Ham,4,1,H,1.0,0.0,H,2017-18
9566,E0,3/3/2018,Liverpool,Newcastle,2,0,H,1.0,0.0,H,2017-18
9577,E0,10/3/2018,Man United,Liverpool,2,1,H,2.0,0.0,H,2017-18
9586,E0,17/03/18,Liverpool,Watford,5,0,H,2.0,0.0,H,2017-18
9589,E0,31/03/18,Crystal Palace,Liverpool,1,2,A,1.0,0.0,H,2017-18
9600,E0,7/4/2018,Everton,Liverpool,0,0,D,0.0,0.0,D,2017-18
9611,E0,14/04/18,Liverpool,Bournemouth,3,0,H,1.0,0.0,H,2017-18
9623,E0,21/04/18,West Brom,Liverpool,2,2,D,0.0,1.0,A,2017-18
9631,E0,28/04/18,Liverpool,Stoke,0,0,D,0.0,0.0,D,2017-18
9646,E0,6/5/2018,Chelsea,Liverpool,1,0,H,1.0,0.0,H,2017-18
9657,E0,13/05/18,Liverpool,Brighton,4,0,H,2.0,0.0,H,2017-18

In [14]:
dfLiverpool = df[(df['HomeTeam'] == 'Liverpool') | (df['AwayTeam'] == 'Liverpool')].drop(['HTHG','HTAG','HTR'],axis=1)
dfLiverpool

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,Season
3,E0,14/08/93,Liverpool,Sheffield Weds,2,0,H,1993-94
19,E0,18/08/93,QPR,Liverpool,1,3,A,1993-94
32,E0,22/08/93,Swindon,Liverpool,0,5,A,1993-94
39,E0,25/08/93,Liverpool,Tottenham,1,2,A,1993-94
48,E0,28/08/93,Liverpool,Leeds,2,0,H,1993-94
60,E0,1/9/1993,Coventry,Liverpool,1,0,H,1993-94
75,E0,12/9/1993,Liverpool,Blackburn,0,1,A,1993-94
79,E0,18/09/93,Everton,Liverpool,2,0,H,1993-94
90,E0,25/09/93,Chelsea,Liverpool,1,0,H,1993-94
101,E0,2/10/1993,Liverpool,Arsenal,0,0,D,1993-94
113,E0,16/10/93,Liverpool,Oldham,2,1,H,1993-94
124,E0,23/10/93,Man City,Liverpool,1,1,D,1993-94
136,E0,30/10/93,Liverpool,Southampton,4,2,H,1993-94
147,E0,6/11/1993,Liverpool,West Ham,2,0,H,1993-94
164,E0,21/11/93,Newcastle,Liverpool,3,0,H,1993-94
184,E0,28/11/93,Liverpool,Aston Villa,2,1,H,1993-94
192,E0,4/12/1993,Sheffield Weds,Liverpool,3,1,H,1993-94
201,E0,8/12/1993,Liverpool,QPR,3,2,H,1993-94
207,E0,11/12/1993,Liverpool,Swindon,2,2,D,1993-94
223,E0,18/12/93,Tottenham,Liverpool,3,3,D,1993-94
228,E0,26/12/93,Sheffield United,Liverpool,0,0,D,1993-94
237,E0,28/12/93,Liverpool,Wimbledon,1,1,D,1993-94
248,E0,1/1/1994,Ipswich,Liverpool,1,2,A,1993-94
262,E0,4/1/1994,Liverpool,Man United,3,3,D,1993-94
269,E0,15/01/94,Oldham,Liverpool,0,3,A,1993-94
279,E0,22/01/94,Liverpool,Man City,2,1,H,1993-94
290,E0,5/2/1994,Norwich,Liverpool,2,2,D,1993-94
304,E0,14/02/94,Southampton,Liverpool,4,2,H,1993-94
308,E0,19/02/94,Leeds,Liverpool,2,0,H,1993-94
315,E0,26/02/94,Liverpool,Coventry,1,0,H,1993-94
...,...,...,...,...,...,...,...,...
9373,E0,22/10/17,Tottenham,Liverpool,4,1,H,2017-18
9377,E0,28/10/17,Liverpool,Huddersfield,3,0,H,2017-18
9389,E0,4/11/2017,West Ham,Liverpool,1,4,A,2017-18
9399,E0,18/11/17,Liverpool,Southampton,3,0,H,2017-18
9406,E0,25/11/17,Liverpool,Chelsea,1,1,D,2017-18
9423,E0,29/11/17,Stoke,Liverpool,0,3,A,2017-18
9425,E0,2/12/2017,Brighton,Liverpool,1,5,A,2017-18
9441,E0,10/12/2017,Liverpool,Everton,1,1,D,2017-18
9447,E0,13/12/17,Liverpool,West Brom,0,0,D,2017-18
9461,E0,17/12/17,Bournemouth,Liverpool,0,4,A,2017-18
9464,E0,22/12/17,Arsenal,Liverpool,3,3,D,2017-18
9477,E0,26/12/17,Liverpool,Swansea,5,0,H,2017-18
9487,E0,30/12/17,Liverpool,Leicester,2,1,H,2017-18
9494,E0,1/1/2018,Burnley,Liverpool,1,2,A,2017-18
9512,E0,14/01/18,Liverpool,Man City,4,3,H,2017-18
9523,E0,22/01/18,Swansea,Liverpool,1,0,H,2017-18
9524,E0,30/01/18,Huddersfield,Liverpool,0,3,A,2017-18
9542,E0,4/2/2018,Liverpool,Tottenham,2,2,D,2017-18
9552,E0,11/2/2018,Southampton,Liverpool,0,2,A,2017-18
9558,E0,24/02/18,Liverpool,West Ham,4,1,H,2017-18
9566,E0,3/3/2018,Liverpool,Newcastle,2,0,H,2017-18
9577,E0,10/3/2018,Man United,Liverpool,2,1,H,2017-18
9586,E0,17/03/18,Liverpool,Watford,5,0,H,2017-18
9589,E0,31/03/18,Crystal Palace,Liverpool,1,2,A,2017-18
9600,E0,7/4/2018,Everton,Liverpool,0,0,D,2017-18
9611,E0,14/04/18,Liverpool,Bournemouth,3,0,H,2017-18
9623,E0,21/04/18,West Brom,Liverpool,2,2,D,2017-18
9631,E0,28/04/18,Liverpool,Stoke,0,0,D,2017-18
9646,E0,6/5/2018,Chelsea,Liverpool,1,0,H,2017-18
9657,E0,13/05/18,Liverpool,Brighton,4,0,H,2017-18

In [15]:
dfLiverpool.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 958 entries, 3 to 9657
Data columns (total 8 columns):
Div         958 non-null object
Date        958 non-null object
HomeTeam    958 non-null object
AwayTeam    958 non-null object
FTHG        958 non-null int64
FTAG        958 non-null int64
FTR         958 non-null object
Season      958 non-null object
dtypes: int64(2), object(6)
memory usage: 67.4+ KB

In [17]:
dfLivHome = dfLiverpool[dfLiverpool['HomeTeam'] == 'Liverpool']
dfLivHome

     Div        Date   HomeTeam          AwayTeam  FTHG  FTAG FTR   Season
3     E0    14/08/93  Liverpool    Sheffield Weds     2     0   H  1993-94
39    E0    25/08/93  Liverpool         Tottenham     1     2   A  1993-94
48    E0    28/08/93  Liverpool             Leeds     2     0   H  1993-94
75    E0   12/9/1993  Liverpool         Blackburn     0     1   A  1993-94
101   E0   2/10/1993  Liverpool           Arsenal     0     0   D  1993-94
113   E0    16/10/93  Liverpool            Oldham     2     1   H  1993-94
136   E0    30/10/93  Liverpool       Southampton     4     2   H  1993-94
147   E0   6/11/1993  Liverpool          West Ham     2     0   H  1993-94
184   E0    28/11/93  Liverpool       Aston Villa     2     1   H  1993-94
201   E0   8/12/1993  Liverpool               QPR     3     2   H  1993-94
207   E0  11/12/1993  Liverpool           Swindon     2     2   D  1993-94
237   E0    28/12/93  Liverpool         Wimbledon     1     1   D  1993-94
262   E0    4/1/1994  Liverpool        Man United     3     3   D  1993-94
279   E0    22/01/94  Liverpool          Man City     2     1   H  1993-94
315   E0    26/02/94  Liverpool          Coventry     1     0   H  1993-94
339   E0    13/03/94  Liverpool           Everton     2     1   H  1993-94
347   E0    19/03/94  Liverpool           Chelsea     2     1   H  1993-94
380   E0    2/4/1994  Liverpool  Sheffield United     1     2   A  1993-94
398   E0    9/4/1994  Liverpool           Ipswich     1     0   H  1993-94
408   E0    16/04/94  Liverpool         Newcastle     0     2   A  1993-94
436   E0    30/04/94  Liverpool           Norwich     0     1   A  1993-94
493   E0    28/08/94  Liverpool           Arsenal     3     0   H  1994-95
507   E0   10/9/1994  Liverpool          West Ham     0     0   D  1994-95
541   E0   1/10/1994  Liverpool    Sheffield Weds     4     1   H  1994-95
550   E0   8/10/1994  Liverpool       Aston Villa     3     2   H  1994-95
573   E0    22/10/94  Liverpool         Wimbledon     3     0   H  1994-95
602   E0   5/11/1994  Liverpool     Nott'm Forest     1     0   H  1994-95
611   E0   9/11/1994  Liverpool           Chelsea     3     1   H  1994-95
632   E0    26/11/94  Liverpool         Tottenham     1     1   D  1994-95
658   E0  11/12/1994  Liverpool    Crystal Palace     0     0   D  1994-95
...   ..         ...        ...               ...   ...   ...  ..      ...
9088  E0    31/12/16  Liverpool          Man City     1     0   H  2016-17
9116  E0    21/01/17  Liverpool           Swansea     2     3   A  2016-17
9127  E0    31/01/17  Liverpool           Chelsea     1     1   D  2016-17
9145  E0   11/2/2017  Liverpool         Tottenham     2     0   H  2016-17
9163  E0    4/3/2017  Liverpool           Arsenal     3     1   H  2016-17
9176  E0   12/3/2017  Liverpool           Burnley     2     1   H  2016-17
9191  E0    1/4/2017  Liverpool           Everton     3     1   H  2016-17
9204  E0    5/4/2017  Liverpool       Bournemouth     2     2   D  2016-17
9232  E0    23/04/17  Liverpool    Crystal Palace     1     2   A  2016-17
9256  E0    7/5/2017  Liverpool       Southampton     0     0   D  2016-17
9279  E0    21/05/17  Liverpool     Middlesbrough     3     0   H  2016-17
9297  E0    19/08/17  Liverpool    Crystal Palace     1     0   H  2017-18
9311  E0    27/08/17  Liverpool           Arsenal     4     0   H  2017-18
9327  E0    16/09/17  Liverpool           Burnley     1     1   D  2017-18
9356  E0    14/10/17  Liverpool        Man United     0     0   D  2017-18
9377  E0    28/10/17  Liverpool      Huddersfield     3     0   H  2017-18
9399  E0    18/11/17  Liverpool       Southampton     3     0   H  2017-18
9406  E0    25/11/17  Liverpool           Chelsea     1     1   D  2017-18
9441  E0  10/12/2017  Liverpool           Everton     1     1   D  2017-18
9447  E0    13/12/17  Liverpool         West Brom     0     0   D  2017-18
9477  E0    26/12/17  Liverpool           Swansea     5     0   H  2017-18
9487  E0    30/12/17  Liverpool         Leicester     2     1   H  2017-18
9512  E0    14/01/18  Liverpool          Man City     4     3   H  2017-18
9542  E0    4/2/2018  Liverpool         Tottenham     2     2   D  2017-18
9558  E0    24/02/18  Liverpool          West Ham     4     1   H  2017-18
9566  E0    3/3/2018  Liverpool         Newcastle     2     0   H  2017-18
9586  E0    17/03/18  Liverpool           Watford     5     0   H  2017-18
9611  E0    14/04/18  Liverpool       Bournemouth     3     0   H  2017-18
9631  E0    28/04/18  Liverpool             Stoke     0     0   D  2017-18
9657  E0    13/05/18  Liverpool          Brighton     4     0   H  2017-18

[479 rows x 8 columns]

In [18]:
dfLivAway = dfLiverpool[dfLiverpool['AwayTeam'] == 'Liverpool']
dfLivAway

     Div       Date          HomeTeam   AwayTeam  FTHG  FTAG FTR   Season
19    E0   18/08/93               QPR  Liverpool     1     3   A  1993-94
32    E0   22/08/93           Swindon  Liverpool     0     5   A  1993-94
60    E0   1/9/1993          Coventry  Liverpool     1     0   H  1993-94
79    E0   18/09/93           Everton  Liverpool     2     0   H  1993-94
90    E0   25/09/93           Chelsea  Liverpool     1     0   H  1993-94
124   E0   23/10/93          Man City  Liverpool     1     1   D  1993-94
164   E0   21/11/93         Newcastle  Liverpool     3     0   H  1993-94
192   E0  4/12/1993    Sheffield Weds  Liverpool     3     1   H  1993-94
223   E0   18/12/93         Tottenham  Liverpool     3     3   D  1993-94
228   E0   26/12/93  Sheffield United  Liverpool     0     0   D  1993-94
248   E0   1/1/1994           Ipswich  Liverpool     1     2   A  1993-94
269   E0   15/01/94            Oldham  Liverpool     0     3   A  1993-94
290   E0   5/2/1994           Norwich  Liverpool     2     2   D  1993-94
304   E0   14/02/94       Southampton  Liverpool     4     2   H  1993-94
308   E0   19/02/94             Leeds  Liverpool     2     0   H  1993-94
323   E0   5/3/1994         Blackburn  Liverpool     2     0   H  1993-94
358   E0   26/03/94           Arsenal  Liverpool     1     0   H  1993-94
372   E0   30/03/94        Man United  Liverpool     1     0   H  1993-94
396   E0   4/4/1994         Wimbledon  Liverpool     1     1   D  1993-94
426   E0   23/04/94          West Ham  Liverpool     1     2   A  1993-94
451   E0   7/5/1994       Aston Villa  Liverpool     2     1   H  1993-94
465   E0   20/08/94    Crystal Palace  Liverpool     1     6   A  1994-95
503   E0   31/08/94       Southampton  Liverpool     0     2   A  1994-95
520   E0   17/09/94        Man United  Liverpool     2     0   H  1994-95
533   E0   24/09/94         Newcastle  Liverpool     1     1   D  1994-95
562   E0   15/10/94         Blackburn  Liverpool     3     2   H  1994-95
584   E0   29/10/94           Ipswich  Liverpool     1     3   A  1994-95
593   E0   31/10/94               QPR  Liverpool     2     1   H  1994-95
624   E0   21/11/94           Everton  Liverpool     2     0   H  1994-95
638   E0  3/12/1994          Coventry  Liverpool     1     1   D  1994-95
...   ..        ...               ...        ...   ...   ...  ..      ...
9058  E0   14/12/16     Middlesbrough  Liverpool     0     3   A  2016-17
9073  E0   19/12/16           Everton  Liverpool     0     1   A  2016-17
9097  E0   2/1/2017        Sunderland  Liverpool     2     2   D  2016-17
9113  E0   15/01/17        Man United  Liverpool     1     1   D  2016-17
9137  E0   4/2/2017              Hull  Liverpool     2     0   H  2016-17
9161  E0   27/02/17         Leicester  Liverpool     3     1   H  2016-17
9184  E0   19/03/17          Man City  Liverpool     1     1   D  2016-17
9210  E0   8/4/2017             Stoke  Liverpool     1     2   A  2016-17
9225  E0   16/04/17         West Brom  Liverpool     0     1   A  2016-17
9247  E0   1/5/2017           Watford  Liverpool     0     1   A  2016-17
9268  E0   14/05/17          West Ham  Liverpool     0     4   A  2016-17
9290  E0  12/8/2017           Watford  Liverpool     3     3   D  2017-18
9318  E0   9/9/2017          Man City  Liverpool     5     0   H  2017-18
9336  E0   23/09/17         Leicester  Liverpool     2     3   A  2017-18
9353  E0  1/10/2017         Newcastle  Liverpool     1     1   D  2017-18
9373  E0   22/10/17         Tottenham  Liverpool     4     1   H  2017-18
9389  E0  4/11/2017          West Ham  Liverpool     1     4   A  2017-18
9423  E0   29/11/17             Stoke  Liverpool     0     3   A  2017-18
9425  E0  2/12/2017          Brighton  Liverpool     1     5   A  2017-18
9461  E0   17/12/17       Bournemouth  Liverpool     0     4   A  2017-18
9464  E0   22/12/17           Arsenal  Liverpool     3     3   D  2017-18
9494  E0   1/1/2018           Burnley  Liverpool     1     2   A  2017-18
9523  E0   22/01/18           Swansea  Liverpool     1     0   H  2017-18
9524  E0   30/01/18      Huddersfield  Liverpool     0     3   A  2017-18
9552  E0  11/2/2018       Southampton  Liverpool     0     2   A  2017-18
9577  E0  10/3/2018        Man United  Liverpool     2     1   H  2017-18
9589  E0   31/03/18    Crystal Palace  Liverpool     1     2   A  2017-18
9600  E0   7/4/2018           Everton  Liverpool     0     0   D  2017-18
9623  E0   21/04/18         West Brom  Liverpool     2     2   D  2017-18
9646  E0   6/5/2018           Chelsea  Liverpool     1     0   H  2017-18

[479 rows x 8 columns]

In [26]:
dfLivHome['FTR'].value_counts()

H    290
D    123
A     66
Name: FTR, dtype: int64

In [27]:
dfLivHome.groupby('Season').count()

         Div  Date  HomeTeam  AwayTeam  FTHG  FTAG  FTR
Season
1993-94   21    21        21        21    21    21   21
1994-95   21    21        21        21    21    21   21
1995-96   19    19        19        19    19    19   19
1996-97   19    19        19        19    19    19   19
1997-98   19    19        19        19    19    19   19
1998-99   19    19        19        19    19    19   19
1999-00   19    19        19        19    19    19   19
2000-01   19    19        19        19    19    19   19
2001-02   19    19        19        19    19    19   19
2002-03   19    19        19        19    19    19   19
2003-04   19    19        19        19    19    19   19
2004-05   19    19        19        19    19    19   19
2005-06   19    19        19        19    19    19   19
2006-07   19    19        19        19    19    19   19
2007-08   19    19        19        19    19    19   19
2008-09   19    19        19        19    19    19   19
2009-10   19    19        19        19    19    19   19
2010-11   19    19        19        19    19    19   19
2011-12   19    19        19        19    19    19   19
2012-13   19    19        19        19    19    19   19
2013-14   19    19        19        19    19    19   19
2014-15   19    19        19        19    19    19   19
2015-16   19    19        19        19    19    19   19
2016-17   19    19        19        19    19    19   19
2017-18   19    19        19        19    19    19   19

In [31]:
dfLivHome.set_index('Season').head()

        Div       Date   HomeTeam        AwayTeam  FTHG  FTAG FTR
Season
1993-94  E0   14/08/93  Liverpool  Sheffield Weds     2     0   H
1993-94  E0   25/08/93  Liverpool       Tottenham     1     2   A
1993-94  E0   28/08/93  Liverpool           Leeds     2     0   H
1993-94  E0  12/9/1993  Liverpool       Blackburn     0     1   A
1993-94  E0  2/10/1993  Liverpool         Arsenal     0     0   D

In [29]:
def result():
    if dfLivHome['FTR'] == 'H':
        return 'Win'
    elif dfLivHome['FTR'] == 'A':
        return 'Lose'
    else:
        return 'Draw'
    
dfLivHome['Result'] = result()

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [34]:
dfLivHome['FTR'] == 'H'

3        True
39      False
48       True
75      False
101     False
113      True
136      True
147      True
184      True
201      True
207     False
237     False
262     False
279      True
315      True
339      True
347      True
380     False
398      True
408     False
436     False
493      True
507     False
541      True
550      True
573      True
602      True
611      True
632     False
658     False
        ...
9088     True
9116    False
9127    False
9145     True
9163     True
9176     True
9191     True
9204    False
9232    False
9256    False
9279     True
9297     True
9311     True
9327    False
9356    False
9377     True
9399     True
9406    False
9441    False
9447    False
9477     True
9487     True
9512     True
9542    False
9558     True
9566     True
9586     True
9611     True
9631    False
9657     True
Name: FTR, Length: 479, dtype: bool